@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Heebo:wght@100..900&family=Henny+Penny&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Inter", sans-serif;
}